<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}OCBank{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ path('home') }}">OCBank</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link active" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="{{ path('new_result') }}">Post a Result</a>
                        <a class="nav-item nav-link" href="#">Results</a>
                        <a class="nav-item nav-link" href="#">CPUs</a>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ path('app_login') }}">Login</a>
                        <a class="nav-item nav-link" href="{{ path('regisiter') }}">Register</a>
                    </div>
                </div>
            </nav>

        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
